.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background: url('../../assets/banner.jpg') center/100% no-repeat;
    padding: 1.5em 3em;
    gap: 2em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    color: white;
}
.logo{
    align-self: flex-start;
}
.logo img{
    width: 165px;
    height: 65px;
}

.category{
    text-align: center;
    font-size: 200%;
}
.category h1{
    font-size: 72px;
    font-weight: 400;
}
.category p{
    font-size: 20px;
    font-weight: 300;
}